body{
    background-color: black;
    color: #c3c3c3;
}
main{
    min-height:75vh;
    margin-top: 0;
    position: relative;
    top:0;
    padding-top:30px;
}
.formMenu{
    min-height:50vh;
}

.tituloMenu{
    font-size:20px;
    text-align:center;
}
label{
    font-size: 18px;
    margin-top:5px;
}
.input, label{
    width: 100%;;
}
textarea{
    height:25vh;
    padding-left:0
}
.botonInput:hover{
   background-color: black;
   color: #c3c3c3;
   font-weight: bolder;
   border: solid 2px #c3c3c3;
}
.mensajeJs{
    color: red;
}