/*INDEX*/
body{
  background-color:black;
  font-family: 'Gruppo', cursive;
  text-align: center;
  color:#c3c3c3;
}
.header{
  height: 30vh;
  background-image: url("../img/logoMaktubGr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.grey{
  color: #c3c3c3;
}

/* botones login y registro */
.boton{
  background-color:black;
  color:#c3c3c3;
  text-align: center;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
}
.boton:hover{
  text-transform: uppercase;
  border: #c3c3c3;
  background-color:#c3c3c3;
  color:black;
}


/* caja formularios*/
.cajaCompartida{
  min-height: 60vh;
  height:100%;
  padding:0;
  width:100%;
  border: solid 1px#c3c3c3;
  background-color: black;
}


/* texto de caja*/
h4{
  font-size: 22px;
  width:70%;
  margin:auto;
  text-align: justify;
  line-height: 30px;
  font-weight: bolder;
}



.formulario{
  min-height: 60vh;
  height: 100%;
  width:100%;
  display: flex;
  padding:0;
  flex-direction: column;
  justify-content: center;
}


/*    caja login y register  */
.filasForm{
  width: 100%;
}
label{
  height:20px;
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
  width:80%;
}
.input{
  width: 80%;
  height:40px;
  color: black;
  font-family: verdana;
}


/* LINK RECUPERAR PASSWORD */
.recuperarPass{
text-align: center;
height:20px;
line-height: 20px;;
font-size:15px;
font-weight: bolder;
}
.recuperarPass a{
  text-align: center;
  text-decoration: none;
  color:#c3c3c3;
}
.recuperarPass a:hover{
  font-size:18px;
}

/* BOTON ENVIAR  */
.botonInput{
  background-color: #c3c3c3;
  color: black;
  margin: 10px auto 0 auto;
  font-family: Gruppo, cursive;
  width: 250px;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  }
.botonInput:hover{
    text-transform: uppercase;
    font-weight: bolder;
  }


.error{
  color:red;
  font-weight: bolder;
  text-align: center;
}

/*mensajes js*/
.mensajeJs{
  font-size:15px;
  color: white;
  height:15px;
}