/*INDEX*/
body{
  background-color:black;
  font-family: 'Gruppo', cursive;
  text-align: center;
}
.header{
  height: 30vh;
  background-image: url("../img/logoMaktubGr.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
p{
  font-weight: bolder;
}

/* botones login y registro */
.boton{
  background-color:black;
  color: #A7A7A7;
  text-align: center;
  height: 30px;
  font-size: 17px;
  font-weight: bolder;
}
.boton:hover{
  text-transform: uppercase;
  border-bottom: 2px grey solid;
}


/* caja formularios*/
.caja-compartida{
  min-height: 60vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.caja-interna{
  position: absolute;
  top:0;
  min-height:60vh;
  width:100%;
  border: solid 1px grey;
  background-color:black;
  color: grey;  
}


.formulario{
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* texto de caja*/
h4{
  font-size: 20px;
  width:100%;
  line-height: 30px;
  font-weight: bolder;
}

/*    caja login y register  */
.campoACompletar{
  width: 90%;
  height:20px;
  color: black;
  font-family: verdana;
}
.campos{
  text-align: left;
  margin-left: 5%;
  margin-bottom: 10px;
  font-weight: bolder;
}
.recuperarPass{
text-align: center;
font-weight: bolder;
}
.recuperarPass a{
  text-align: center;
  text-decoration: none;
  color:rgb(100, 100, 100);
}
.recuperarPass a:hover{
border-bottom: grey 2px solid;
}
.boton-enviar{
  background-color: grey;
  color: black;
  margin-left: auto;
  margin-right: auto;
  font-family: Gruppo, cursive;
  width: 60%;
  font-weight: bolder;
  font-size: 20px;
  height: 40px;
  }
.boton-enviar:hover{
  
    text-transform: uppercase;
    font-weight: bolder;
  }
.error{
  color:red;
  font-weight: bolder;
  text-align: center;
}

