body{
  background-color: black;
  color: grey;
  text-align: center;
  font-family: 'Gruppo', cursive;
}
.main{
  margin-top:50px;
  border-left: solid 1px grey;
  border-right: 1px solid grey;
}
h2{
  font-size: 25px;
}
.boton-reiniciar{
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  background-color: grey;
  margin-top: 20px;
  color:black;
  font-size: 30px;
  margin-bottom: 20px;
}
.boton-reiniciar:hover{
  border: solid 2px grey;
  background-color: black;
  color:grey;
}
.jugar{
  color:grey;
    font-size: 30px;
}
a .jugar{
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  color:grey;
  font-size: 1.5rem;
}
.jugar:hover{
  border-bottom: solid 1px grey;
  color: grey;
  text-decoration: none;
}
