/*INDEX*/
.body-index{
  width: 90%;
  border: solid 1px red;
  max-width: 500px;
  height: auto;
  margin: auto;
  background-color: white;
}
.header-index{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main{
  margin: 0 auto;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-family: 'Gruppo', cursive;
}
h1{
  font-size: 2rem;
  padding-top: 4px;
}
p{
  line-height: 1.5em;
  font-weight: bolder;
}
a .boton{
  background-color: black;
  color: white;
  text-align: center;
  width: 90%;
  height: 9vh;
  font-size: 4vh;
  font-weight: bolder;
  font-family: 'Gruppo', cursive;
}
a .boton:hover{
  background-color: white;
  color: black;
  text-transform: uppercase;
}
.texto-index{
  font-size: 1.5rem;
  width:auto;
  margin-bottom: 50px;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}
