/*INDEX*/
.body-index{
  max-width: 500px;
  width: 90%;
  height: 100vh;
  margin: auto;
  background-color: grey;
}
.header-index{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-family: 'Gruppo', cursive;
}
h1{
  font-size: 2rem;
  margin-top: 5px;
}
.caja-botones{
  display: flex;
}
.boton{
  color: black;
  text-align: center;
  width: 50%;
  height: 30px;
  font-size: 17px;
  font-weight: bolder;
  font-family: 'Gruppo', cursive;
}
.boton:hover{
  background-color: white;
  color: black;
  text-transform: uppercase;
}


.formulario{
  width: 100%;
  height: auto;
  min-height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.caja-principal{
  position: absolute;
  top:0;
  height: 100%;
  background-color: white;
  border: solid 1px grey;
  width: 100%;
}
h4{
  font-size: 20px;
  width:90%;
  line-height: 30px;
  font-weight: bolder;
}
/*    caja login y register  */
.formulario-interior{
  width: 90%;
}
.campoACompletar{
  width: 90%;
  background-color: grey;
  height:20px;
  border: black 1px solid;
}
.campos{
  text-align: left;
  margin-left: 5%;
  font-weight: bolder;
}
.recuperarPass{
text-align: center;
color:black;
font-weight: bolder;
}
.recuperarPass a{
  text-align: center;
  text-decoration: none;
  color:grey;
}
.recuperarPass a:hover{
border-bottom: grey 2px solid;
}
.boton-enviar{
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  font-family: Gruppo, cursive;
  width: 60%;
  font-weight: bolder;
  font-size: 18px;
  height: 24px;
  }
.boton-enviar:hover{
    background-color: white;
    color:black;
    text-transform: uppercase;
    font-weight: bolder;
  }
.error{
  color:red;
  font-weight: bolder;
  text-align: center;
}
