body{
  background-color: black;
}
.body-contacto{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  color: grey;
  font-family: 'Gruppo', cursive;
}

.main-contacto{
  display: flex;
  margin-top: 0;
  font-family: 'Gruppo', cursive;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
h3{
  padding-top: 0.5vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  font-size: 2rem;
}
p{
  margin-left: 10%;
  font-size: 1.3rem;
  font-weight: bolder;
}
.mail{
  height: 4vh;
  width: 80%;
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  font-size: 3vh;
  margin: 5px 10%;
}
.mensaje{
  height: 25vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  font-family: 'Gruppo', cursive;
  font-size: 3vh;
  font-weight: bolder;
}
.enviar{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  background-color: white;
  color: black;
  width: 300px;
  height: 8vh;
  margin: 17px auto;
}
h2{
  font-size: 2rem;
  color: grey;
  margin-top: 30%;
  text-align: center;
}
h3 a{
  text-decoration: none;
  color: grey;
}
h3 a:hover{
  font-size: 2.2rem;
}

/*una vez enviado el formulario, para anularlo*/
.form, .ocultar{
  display: none;
}
.mostrar{
  display: block;
}
