body{
  background-color: black;
  text-align: center;
  font-family: 'Gruppo', cursive;
  color: grey;
}
.main-contacto{
  width: 90%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  line-height: 4vh;
}
p{
  font-weight: bolder;
}
.estadisticas{
  height: 8vh;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;

}
.column{
  flex-direction: column;
  justify-content: center;
}

.caja-porcentaje{
  width: 200px;
  height: 20px;
  border: solid 1px grey;
}
.porcentajeDeJuego{
  background-color: grey;
  height: 20px;
}
a{
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  color:grey;
  font-size: 1.5rem;
}
.jugar:hover{
  border: solid 1px grey;
}
