
.body-index{
  width: 70%;
  max-width: 500px;
  margin: auto;
}
.header-register{
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  margin-top: 2vh;
  background-image: url(logo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main{
  width: 100%;
  padding-top: 0px;
}
form{
  padding: 0 4px 40px 0;
  margin-top: 10vh;
  width: 98%;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  font-weight: bolder;
}
.error{
  color:red;
}
.registrar{
  background-color: black;
  color: white;
  margin-left: 30%;
  font-family: Gruppo, cursive;
  width: 40%;
  font-weight: bolder;
  font-size: 3vh;
  height: 4vh;
  }
  .registrar:hover{
    background-color: white;
    color:black;
  }

.campoACompletar{
  width: 100%;
  height:4vh;
  border: black 1px solid;
}
