body{
  background-color: black;
}
.body-contacto{.
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  color: grey;
  text-align: center;
  font-family: 'Gruppo', cursive;
}

.main-contacto{
  display: flex;
  height: 50vh;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  border-left: solid 1px grey;
  border-right: solid 1px grey;
  margin-left: auto;
  margin-right: auto;
  line-height: 4vh;
  font-family: 'Gruppo', cursive;
  text-align: center;
}
.boton-reiniciar{
  text-align: center;
  height: 50px;
  width: 200px;
  font-family: 'Gruppo', cursive;
  font-weight: bolder;
  background-color: grey;
  margin-top: 20px;
  color:black;
  font-size: 30px;
}
.boton-reiniciar:hover{
  border: solid 2px grey;
  background-color: black;
  color:grey;
}
a{
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  color:grey;
  font-size: 1.5rem;
}
.jugar:hover{
  border: solid 1px grey;
}
